<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <h1>EduVerse</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora reiciendis officiis nihil doloribus modi ullam quo repellendus voluptatem animi distinctio incidunt, dolorem qui exercitationem facilis pariatur. Dolorem quibusdam natus, aut obcaecati doloribus maiores distinctio perferendis ipsum minus pariatur error porro exercitationem hic ipsam sed possimus magnam suscipit, placeat magni culpa.</p>
</body>
</html>